.carousel {
  position: relative;
  max-width: 100%;
  width: 100%;
  height: 170px;
  background: transparent;
  transition : transform .54s cubic-bezier(.5,0,.1,1) 0s;
  box-sizing: border-box;
  margin: 3vw 0;
  padding: 0;
}

.zHovered {
  z-index: 40;
}

.zNormal {
  z-index: 10;
}

.sliderContainer {
  width: 100%;
  height: 100%;
  background: transparent;
  position: relative;
  padding-left: 2.25rem;
}

.sliderContent {
  display: flex;
  flex-wrap: nowrap;
  gap: 6px;
  padding: 0.5rem 1.25rem;
  height: 100%;
  width: fit-content;
  transition: transform 1000ms cubic-bezier(0.4, 0.8, 0.6, 1);
}

.prevButton,
.nextButton {
  position: absolute;
  top: 57%;
  transform: translateY(-50%);
  width: 3.25rem;
  height: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: hsla(0,0%,8%,.5);
  font-size: 1.25rem;
  font-weight: bold;
  opacity: 0;
  transition: all 0.3s;
  color: white;
  
}

.shiftUp{
  margin-top: -15px;
}

.nextButton:hover .shiftUp,
.prevButton:hover .shiftUp {
  transition: all 0.1s;
  transform: scale(1.25);
}
.carousel:hover .prevButton,
.carousel:hover .nextButton {
  opacity: 1;
}

.prevButton {
  left: 0;
}

.nextButton {
  right: 0;
}